[submodule "book/gallery/modelling/polar-modelling-icenet"]
	path = book/gallery/modelling/polar-modelling-icenet
	url = https://github.com/Environmental-DS-Book/polar-modelling-icenet
	branch = render
[submodule "book/gallery/modelling/forest-modelling-treecrown_detectreeRGB"]
	path = book/gallery/modelling/forest-modelling-treecrown_detectreeRGB
	url = https://github.com/Environmental-DS-Book/forest-modelling-treecrown_detectreeRGB.git
	branch = render
[submodule "book/gallery/modelling/forest-modelling-treecrown_deepforest"]
	path = book/gallery/modelling/forest-modelling-treecrown_deepforest
	url = https://github.com/Environmental-DS-Book/forest-modelling-treecrown_deepforest.git
	branch = render
[submodule "book/gallery/modelling/ocean-modelling-litter-philab"]
	path = book/gallery/modelling/ocean-modelling-litter-philab
	url = https://github.com/Environmental-DS-Book/ocean-modelling-litter-philab.git
	branch = render
[submodule "book/gallery/exploration/wildfires-exploration-fires_seviri"]
	path = book/gallery/exploration/wildfires-exploration-fires_seviri
	url = https://github.com/Environmental-DS-Book/wildfires-exploration-fires_seviri.git
	branch = render
[submodule "book/gallery/exploration/urban-exploration-climate_ukv"]
	path = book/gallery/exploration/urban-exploration-climate_ukv
	url = https://github.com/Environmental-DS-Book/urban-exploration-climate_ukv.git
	branch = render
[submodule "book/gallery/exploration/wildfires-exploration-fires_modis"]
	path = book/gallery/exploration/wildfires-exploration-fires_modis
	url = https://github.com/Environmental-DS-Book/wildfires-exploration-fires_modis.git
	branch = render
[submodule "book/gallery/exploration/agriculture-exploration-cosmosuk"]
	path = book/gallery/exploration/agriculture-exploration-cosmosuk
	url = https://github.com/Environmental-DS-Book/agriculture-exploration-cosmosuk.git
	branch = render
[submodule "book/gallery/preprocessing/general-preprocessing-rainfall_noaa"]
	path = book/gallery/preprocessing/general-preprocessing-rainfall_noaa
	url = https://github.com/Environmental-DS-Book/general-preprocessing-rainfall_noaa
	branch = render
[submodule "book/gallery/exploration/general-exploration-landcover_io"]
	path = book/gallery/exploration/general-exploration-landcover_io
	url = https://github.com/Environmental-DS-Book/general-exploration-landcover_io.git
	branch = render
