[submodule "book/notebooks/gallery/1b8921af-e77f-4ccf-ae38-4813cdceba0f"]
	path = book/notebooks/gallery/1b8921af-e77f-4ccf-ae38-4813cdceba0f
	url = https://github.com/eds-book-gallery/1b8921af-e77f-4ccf-ae38-4813cdceba0f
	branch = render
[submodule "book/notebooks/gallery/94486a7f-e046-461f-bbb9-334ec7b57040"]
	path = book/notebooks/gallery/94486a7f-e046-461f-bbb9-334ec7b57040
	url = https://github.com/eds-book-gallery/94486a7f-e046-461f-bbb9-334ec7b57040
	branch = render
[submodule "book/notebooks/gallery/ac327c3a-5264-40a2-8c6e-1e8d7c4b37ef"]
	path = book/notebooks/gallery/ac327c3a-5264-40a2-8c6e-1e8d7c4b37ef
	url = https://github.com/eds-book-gallery/ac327c3a-5264-40a2-8c6e-1e8d7c4b37ef
	branch = render
[submodule "book/notebooks/gallery/a2875cdc-ba6a-49dc-aab7-cdf7c4fc0fa8"]
	path = book/notebooks/gallery/a2875cdc-ba6a-49dc-aab7-cdf7c4fc0fa8
	url = https://github.com/eds-book-gallery/a2875cdc-ba6a-49dc-aab7-cdf7c4fc0fa8
	branch = render
[submodule "book/notebooks/gallery/ea34568e-d86e-4720-be2f-3f826f66a26c"]
	path = book/notebooks/gallery/ea34568e-d86e-4720-be2f-3f826f66a26c
	url = https://github.com/eds-book-gallery/ea34568e-d86e-4720-be2f-3f826f66a26c
	branch = render
[submodule "book/notebooks/gallery/b128b282-dee7-44a7-bc21-f1fd21452a83"]
	path = book/notebooks/gallery/b128b282-dee7-44a7-bc21-f1fd21452a83
	url = https://github.com/eds-book-gallery/b128b282-dee7-44a7-bc21-f1fd21452a83
	branch = render
[submodule "book/notebooks/gallery/15d986da-2d7c-44fb-af71-700494485def"]
	path = book/notebooks/gallery/15d986da-2d7c-44fb-af71-700494485def
	url = https://github.com/eds-book-gallery/15d986da-2d7c-44fb-af71-700494485def
	branch = render
[submodule "book/notebooks/gallery/b34facfa-cea8-48f5-89f6-f11ce00812a9"]
	path = book/notebooks/gallery/b34facfa-cea8-48f5-89f6-f11ce00812a9
	url = https://github.com/eds-book-gallery/b34facfa-cea8-48f5-89f6-f11ce00812a9
	branch = render
[submodule "book/notebooks/gallery/bc30df18-fce2-42fa-aade-1ce5b7f3ca3c"]
	path = book/notebooks/gallery/bc30df18-fce2-42fa-aade-1ce5b7f3ca3c
	url = https://github.com/eds-book-gallery/bc30df18-fce2-42fa-aade-1ce5b7f3ca3c
	branch = render
[submodule "book/notebooks/gallery/435f534c-e49b-43c3-9bd6-3393100bef3f"]
	path = book/notebooks/gallery/435f534c-e49b-43c3-9bd6-3393100bef3f
	url = https://github.com/eds-book-gallery/435f534c-e49b-43c3-9bd6-3393100bef3f
	branch = render
[submodule "book/notebooks/gallery/93463cac-471a-469d-ad52-0514fd9b67f2"]
	path = book/notebooks/gallery/93463cac-471a-469d-ad52-0514fd9b67f2
	url = https://github.com/eds-book-gallery/93463cac-471a-469d-ad52-0514fd9b67f2.git
	branch = render
