/*em {*/
/*    background: rgb(13, 242, 70);*/
/*  }*/

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1px; /* Set the desired width */
  height: 1px; /* Set the desired height */
}

.image-class {
  width: 50px; /* Set the desired width */
}

.abstract-text {
  font-size: 5px;
}

.abstract-container {
  display: flex;
  padding: 1px;
  background-color: #735e90;
  font-size: 5px;
}

.span-container {
  display: flex;
  padding: 1px;
  background-color: #1b5e20;/* Add your desired styles here */
}

.img-landpage {
  width: 50px;
  height: 10px;
}

